@import "tailwindcss";


.slides {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.slide-content {
    animation: slide 15s infinite linear;
}

.slides:hover .slide-content {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}